.navigate-buttons {
  border: none;
  border-radius: 12px;
  text-decoration: none;
  width: 80px;
  height: 30px;
  border-color: #FFB45C;
  background: linear-gradient(146.11deg, #FFDFBA 20.43%, rgba(255, 255, 255, 0) 79.91%), linear-gradient(202.81deg, #FF6636 38.99%, rgba(255, 255, 255, 0) 85.2%), #FFB45C;
}
.navBar{
  
}